<div class="main-container">
  <div class="other_containers">
    <br>
    <br>
    <div style="margin: 1px 0 0 350px;">
    <div class="ui form">
      <%= form_for(@tagging_select_to) do |f| %>
          <div class="fields">
            <div class=" eight wide field">
              <%= f.text_field :name, class: "single-taggable-field",data: {options: Enumeration.pluck(:name)} %>
            </div>
            <%#= f.label :name %><br>
          </div>
          <div class="actions">
            <%#= f.submit %>
            <%= f.submit f.object.new_record? ? 'Create' : 'Update', class: 'ui blue mini submit button ok'%>
            <%#= link_to 'Cancel', url_for(:back), class: 'ui mini black button'%>
          </div>
      <% end %>
    </div>
    </div>
  </div>
</div>

