<div class="main-container">
  <div class="other_containers">
    <br>
    <div class="ui buttons">
      <br>
      <%= link_to "#{semantic_icon('add')} Enter Tag".html_safe, new_tagging_select_to_path, class: "ui button mini" %>

    </div>
    <br>

    <div id="form">

    </div>
    <br>

    <br>


    <div id="listing">
      <br>

      <table>
        <thead>
        <tr>
          <th></th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <% @tagging_select_tos.each do |tagging_select_to| %>
              <%- tagging_select_to.name.split(',').each do |tagable| %>
              <td style="font-size: x-small;
                      margin: 3px 0 0 5px;
                      text-wrap:none;
                      background-color: #2557A1;
                      border: 2px solid #2557A1;
                      border-radius: 3px;
                      color: #CBD4F1;
                      height: 12px;
                      padding: 2px;"><%= tagable %></td>

            <% end %>
          <% end %>
        </tr>
        </tbody>
      </table>
      <br>
    </div>
    <div style="color: #006600">
      <br>
      <%= link_to "#{semantic_icon(ICONS[:linkedin])}".html_safe, omniauth_authorize_path(:user, :linkedin), class: "ui #{COLOR[:linkedin]} mini submit button ok" %>
      <br>
      1. Customizable select box with support for Searching, Tagging, Remote data sets.<br>
      2. Here Remote-data Set(comes from Enumerations).<br>
      2. Also Add custom tags(which not in Enumeration).
      </div>
  </div>
</div>


<%#= link_to 'New Tagging select to', new_tagging_select_to_path %>
<!--.skill_detail-->
<!--- @user.skills.each do |skill|-->
<!--.skill-->
<!--= skill.name-->