<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tagging_select_to.name %>
</p>

<%= link_to 'Edit', edit_tagging_select_to_path(@tagging_select_to) %> |
<%= link_to 'Back', tagging_select_tos_path %>
