<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"> Calendar Events</h3>
        <ol class="breadcrumb">
          <li><%= link_to 'Calenders Reports', calendars_path  %></li>
          <li><%= link_to 'New Calender', new_calendar_path%></li>
          <li><%= link_to 'New Event', new_event_path%></li>
          <li>Events</li>
        </ol>
      </div>
    </div>
    <div style="display: block; clear:both" id="calendar"; ></div>
  </section>
</section>






