<div class="main-container">
  <div class="other_containers">
    <br>
    <div class="ui buttons">
      <br>
      <%= link_to "#{semantic_icon('add')}  Event".html_safe, new_event_path, class: "ui button mini" %>
      <%= link_to "#{semantic_icon('add')}  Calendar".html_safe, new_calendar_path, class: "ui button mini" %>

    </div>
    <br>

    <div id="form">

    </div>
    <br>


    <br>


    <div id="listing">
      <div style="width: 100%; height: auto; display: block;">
        <br>
        <div style="width: 50%; float: left; display: block;">

    

        </div>

        <div style="width: 50%; float: left; display: block;">
          <div id="form"></div>
        </div>
        <div style="display: block; clear:both" id="calendar"; ></div>
      </div>
      </div>

    </div>
  </div>




