
.object_book_marks{
  margin: 1px 0 0 200px;
}


.container-list{

  width: 1000px;
  margin: 0 auto;
}

.container-list .record {
  padding: 10px;
  background-color: #DBDCDC;
  margin-bottom: 1px;
}

