// Place all the styles related to the OrganizeData controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$white: #ffffff;

[data-field-name=Members] {
  display:none;
}
.get-oc-c, .get-oc-v, .get-oc-g {
  background-color: $white;
}
