.name{
  height: 65px;
  color: #ffffff;
  font-weight: bold;
  padding: 12px 0 0 30px;
  width: 80px;
  overflow: hidden;
  background-color: #666666;
  -ms-transform: rotate(320deg); /* IE 9 */
  -webkit-transform: rotate(310deg); /* Chrome, Safari, Opera */
  transform: rotate(300deg); /* Standard syntax */
  display: block;
}

.names{
  height: 65px;
  color: #ffffff;
  font-weight: bold;
  padding: 12px 0 0 30px;
  width: 110px;
  overflow: hidden;
  background-color: #666666;
  -ms-transform: rotate(320deg); /* IE 9 */
  -webkit-transform: rotate(310deg); /* Chrome, Safari, Opera */
  transform: rotate(300deg); /* Standard syntax */
  display: block;
}

.other-information{
  margin: 135px 0 0 0;
}
