.name{
  margin: 35px 0 0 0;
  height: 75px;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 0 0 35px;
  width: 100px;
  overflow: hidden;
  background-color: #666666;
  -ms-transform: rotate(320deg); /* IE 9 */
  -webkit-transform: rotate(310deg); /* Chrome, Safari, Opera */
  transform: rotate(300deg); /* Standard syntax */
}
